.container{
    background-image: url(../images/wall.png);
    min-height: 100vh;
}

.game-header{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #361307;
    color: #ffffff;
    border-bottom: 2px solid #8D3012;
}

.timer h2:first-child, .score h2:first-child, .lives h2:first-child{
    margin-bottom: 15px;
}


.panel{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #833a21;
    width: fit-content;
    margin: 0 auto;
}

.square{
    height: 150px;
    width: 150px;
    border: 2px solid #000000;
}

.enemy{
    background-image: url(../images/ralph.png);
    background-size: cover;
    animation: fadeIn 0.7s;
    -webkit-animation: fadeIn 0.7s;
    -moz-animation: fadeIn 0.7s;
    -o-animation: fadeIn 0.7s;
    -ms-animation: fadeIn 0.7s;
}

.modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    z-index: 999;
}

.modal-container{
    width: 500px;
    height: 230px;
    background-color: #833a21;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal button{
    padding: 10px;
    width: fit-content;
    border: 2px solid #361307;
    background-color: transparent;
    color: #fff;
}

.modal button:hover{
    cursor: pointer;
    background-color: #361307;
}

.invisible{
    visibility: hidden;
    opacity: 0;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

/* mobile */
@media only screen and (min-width: 280px) and (max-width: 414px){
    .game-header{
        font-size: 10px;
        flex-direction: column;
        height: 25vh;
        text-align: center;
    }

    .panel{
        margin-top: 10%;
    }

    .square{
        width: 120px;
        height: 120px;
    }

    .modal-container{
        width: 80%;
    }

    .modal-score{
        font-size: 12px;
    }

}

/* galaxy fold */

@media only screen and (width: 280px){
    .game-header{
        font-size: 10px;
        flex-direction: column;
        height: 25vh;
        text-align: center;
    }

    .panel{
        margin-top: 10%;
    }

    .square{
        width: 90px;
        height: 90px;
    }

    .modal-container{
        width: 80%;
    }

    .modal-score{
        font-size: 12px;
    }

}

/* tablet */
@media only screen and (min-width: 500px) and (max-width: 1280px){
    .panel{
        margin-top: 5%;
    }

    .square{
        width: 150px;
        height: 150px;
    }

    .modal-score{
        font-size: 15px;
    }
}